<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add value="http://kygovtfs2k12:8080/tfs/defaultcollection" key="TFSUrl"/>
    <add value="Kevin Scalf" key="TFSUser"/>
    <add value="1" key="BugTimer"/>
    <add value="False" key="BugMe"/>
    <add value="5" key="TFSUpdateInterval"/>
    <add value="50" key="TFSRetention"/>
  </appSettings>
</configuration>